<!DOCTYPE HTML>
<html lang="en">
    <%- include('head') %>
    <body>
        <%- include('navbar', {active: 'catalog'}) -%>
        <div class="dochub-root">
            <div class="dochub">
                <div class="doc-title">
                    <h1><a href="/catalog" class="menu"><i class="fa fa-backspace mr-2"></a></i>Workshops > Configure</h1>
                </div>
                <div class="catalog-edit-docs" >
                </div>
            </div>
        </div>
        <script src="/catalog_edit.js"></script>
    </body>
</html>