<!DOCTYPE HTML>
<html lang="en">
    <%- include('head') %>
    <body>
        <%- include('navbar', {active: 'catalog'}) %>
        <div class="dochub-root">
            <div class="dochub">
                <div class="alert alert-danger" role="alert">
                    <%= message %>
                </div>
            </div>
        </div>
    </body>
</html>